
__pycache__/constant.cpython-39.pyc
jogo/__pycache__/Continente.cpython-39.pyc
jogo/__pycache__/Territorio.cpython-39.pyc
PPlay/__pycache__/__init__.cpython-36.pyc
PPlay/__pycache__/__init__.cpython-37.pyc
PPlay/__pycache__/__init__.cpython-38.pyc
PPlay/__pycache__/__init__.cpython-39.pyc
PPlay/__pycache__/animation.cpython-36.pyc
PPlay/__pycache__/animation.cpython-37.pyc
PPlay/__pycache__/animation.cpython-39.pyc
PPlay/__pycache__/collision.cpython-37.pyc
PPlay/__pycache__/collision.cpython-39.pyc
PPlay/__pycache__/gameimage.cpython-36.pyc
PPlay/__pycache__/gameimage.cpython-37.pyc
PPlay/__pycache__/gameimage.cpython-39.pyc
PPlay/__pycache__/gameobject.cpython-36.pyc
PPlay/__pycache__/gameobject.cpython-37.pyc
PPlay/__pycache__/gameobject.cpython-39.pyc
PPlay/__pycache__/keyboard.cpython-36.pyc
PPlay/__pycache__/keyboard.cpython-37.pyc
PPlay/__pycache__/keyboard.cpython-38.pyc
PPlay/__pycache__/keyboard.cpython-39.pyc
PPlay/__pycache__/mouse.cpython-36.pyc
PPlay/__pycache__/mouse.cpython-37.pyc
PPlay/__pycache__/mouse.cpython-38.pyc
PPlay/__pycache__/mouse.cpython-39.pyc
PPlay/__pycache__/point.cpython-36.pyc
PPlay/__pycache__/point.cpython-37.pyc
PPlay/__pycache__/point.cpython-38.pyc
PPlay/__pycache__/point.cpython-39.pyc
PPlay/__pycache__/sprite.cpython-36.pyc
PPlay/__pycache__/sprite.cpython-37.pyc
PPlay/__pycache__/sprite.cpython-39.pyc
PPlay/__pycache__/window.cpython-36.pyc
PPlay/__pycache__/window.cpython-37.pyc
PPlay/__pycache__/window.cpython-38.pyc
PPlay/__pycache__/window.cpython-39.pyc
telas/__pycache__/ControladorMapa.cpython-39.pyc
telas/__pycache__/ControladorMapa.cpython-39.pyc
jogo/__pycache__/Territorio.cpython-39.pyc
jogo/__pycache__/Continente.cpython-39.pyc
__pycache__/constant.cpython-39.pyc
telas/__pycache__/Saguao.cpython-39.pyc
telas/__pycache__/MenuLogado.cpython-39.pyc
telas/__pycache__/MenuInicial.cpython-39.pyc
telas/__pycache__/Login.cpython-39.pyc
telas/__pycache__/JanelaPadrao.cpython-39.pyc
telas/__pycache__/HistoricoDePartidas.cpython-39.pyc
telas/__pycache__/ControladorJogo.cpython-39.pyc
telas/__pycache__/Cadastro.cpython-39.pyc
telas/__pycache__/BuscaSaguao.cpython-39.pyc
servico/__pycache__/Login.cpython-39.pyc
servico/__pycache__/firestore.cpython-39.pyc
servico/__pycache__/firebase.cpython-39.pyc
jogo/__pycache__/Territorio.cpython-39.pyc
jogo/__pycache__/ControladorPartida.cpython-39.pyc
jogo/__pycache__/ControladorMapa.cpython-39.pyc
componentes/__pycache__/Texto.cpython-39.pyc
componentes/__pycache__/botao.cpython-39.pyc
componentes/__pycache__/campoSenha.cpython-39.pyc
componentes/__pycache__/componenteGeral.cpython-39.pyc
componentes/__pycache__/icone.cpython-39.pyc
componentes/__pycache__/RetanguloTexto.cpython-39.pyc
componentes/__pycache__/SenhaSalaPopUp.cpython-39.pyc
componentes/__pycache__/PartidaInfo.cpython-39.pyc
componentes/__pycache__/ItemDoHistorico.cpython-39.pyc
componentes/__pycache__/hudTurno.cpython-39.pyc
componentes/__pycache__/campoTexto.cpython-39.pyc
__pycache__/constant.cpython-39.pyc
jogo/__pycache__/Territorio.cpython-39.pyc
__pycache__/constant.cpython-39.pyc
jogo/__pycache__/Territorio.cpython-39.pyc
__pycache__/constant.cpython-39.pyc
jogo/__pycache__/Territorio.cpython-39.pyc
jogo/__pycache__/Continente.cpython-39.pyc
__pycache__/constant.cpython-39.pyc
__pycache__/constant.cpython-38.pyc
jogo/__pycache__/Territorio.cpython-39.pyc
jogo/__pycache__/Continente.cpython-39.pyc
__pycache__/constant.cpython-39.pyc
__pycache__/constant.cpython-38.pyc
.idea/workspace.xml
jogo/__pycache__/TroopsManager.cpython-39.pyc
jogo/__pycache__/Player.cpython-39.pyc
jogo/__pycache__/Objetivo.cpython-39.pyc
jogo/__pycache__/ObjectiveVerifier.cpython-39.pyc
jogo/__pycache__/MatchStarter.cpython-39.pyc
jogo/__pycache__/CardManager.cpython-39.pyc
jogo/__pycache__/Card.cpython-39.pyc
